<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
</head>

<body>

<<%= component %>></<%= component %>>

</body>

<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #FBFBFF;
    }
</style>

</html>
